.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
}

select,
input[type="number"] {
  width: calc(100% - 40px); 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-label {
  margin-right: 10px;
}

.slider {
  width: 100%;
}

.invert-container {
  position: relative;
  height: 10px; 
}

.invert-icon {
  width: 0;
  height: 0;
  left: 50%;
  border: 12px solid transparent;
  border-top-color: #4caf50;
  cursor: pointer; 
  position: absolute; 
}


.max {
  cursor: pointer;

  color:#bc09cc
}
.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
